;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Nov 18 17:25:40 2008
;; Desktop file format version 206
;; Emacs version 22.2.50.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("solsurface" "imm" "solpath" "solcontext" "solpath"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/surface/quartz.py"
  "quartz.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  18
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/surface/__init__.py"
  "__init__.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  59
  '(1 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/objects/path.py"
  "path.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  2
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/objects/layer.py"
  "layer.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  2
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/objects/__init__.py"
  "__init__.py<2>"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  28
  '(1 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  nil
  "objects"
  'dired-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  216
  '(nil nil)
  t
  '("/Users/davidnolen/Desktop/Development/py-sol/objects/")
  nil)

(desktop-create-buffer 206
  nil
  "py-sol"
  'dired-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  327
  '(nil nil)
  t
  '("/Users/davidnolen/Desktop/Development/py-sol/")
  nil)

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/surface/hpgl.py"
  "hpgl.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  1
  '(2744 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/sol.py"
  "sol.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  1169
  '(960 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/surface/cairo.py"
  "cairo.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  20
  '(157 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  nil
  "surface"
  'dired-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  531
  '(nil nil)
  t
  '("/Users/davidnolen/Desktop/Development/py-sol/surface/")
  nil)

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/surface/processing.py"
  "processing.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  65
  '(392 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/surface/base.py"
  "base.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  57
  '(1 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/solcontext.py"
  "solcontext.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  98
  '(34 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  "/Users/davidnolen/Desktop/Development/py-sol/solpath.py"
  "solpath.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  1
  '(989 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1)))

(desktop-create-buffer 206
  "/Developer/Examples/Quartz/Python/bitmap2.py"
  "bitmap2.py"
  'python-mode
  '(abbrev-mode linum-mode yas/minor-mode)
  3062
  '(3148 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

